<h1>Hi <%= user.Nombre %> <%= user.Apellido %> <%= user.idTipoUsuario %> </h1>

<form action="/logout">
    <button type="submit">Logout</button>
</form>

<table style="width:100%">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th> 
      <th>Direccion</th>
      <th>Cedula</th>
    </tr>
    <tr>
      <td><%= user.Nombre %></td>
      <td><%= user.Apellido %></td>
      <td><%= user.Direccion %></td>
      <td><%= user.Cedula%></td>
    </tr>
    <tr>
      <td>Victor</td>
      <td>Calderon</td>
      <td>Socorro 123</td>
      <td>40210035351</td>
    </tr>
  </table>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
    }
</style>